.cQuestion {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.colorblind {
    padding: 10px;
}
input[value="Start Survey"] {
    display: none;
    opacity: 0;
    transition: opacity;
}
input[value="Start Survey"].show {
    display: block;
    opacity: 1;
}
#instrunction {
    display: none;
    opacity: 0;
    transition: opacity;
}
#instrunction.show {
    display: block;
    opacity: 1;
}

