body {
  font: 14px Helvetica, sans-serif;
  background-color: #232b33;
  color: white;
}
body .mainContain {
  display: none;
}
body .mainContain.active {
  display: block;
}

#header {
  background: #485563;
  background: linear-gradient(to right, #29323c, #485563);
}
#header a,
#header .brand-logo {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}
#header img {
  padding-top: 0.5em;
  display: block;
  height: auto;
  max-width: 3em;
}
#header nav ul li.active {
  background-color: rgba(255, 255, 255, 0.26);
  border-bottom: 5px solid #ffffff73;
}
#header nav ul li.active a {
  opacity: 1 !important;
}

.container {
  color: black;
}

.video-container {
  margin-top: 2em;
}

.cover {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #485563;
  background: linear-gradient(to right, #29323cc4, #485563);
  z-index: 10;
}
.cover .spinnerC {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover.hidden {
  display: none;
}

.subpanel {
  background-color: #383838b5;
  float: left;
  left: 10px;
  position: absolute;
  transition: 0.5s;
  padding-right: 10px;
}

.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.21);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}
.sidenavs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.sidenavs a:hover {
  color: #f1f1f1;
}
.sidenavs #datasetsSelectTrigger img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.sidenavs #datasetsSelectTrigger {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}
.sidenavs #search {
  font-size: inherit;
}
.sidenavs .collapsible {
  border: none;
}
.sidenavs .collapsible .collapsible-header {
  background-color: transparent;
  font-size: large;
}
.sidenavs .collapsible .collapsible-body {
  padding: 1rem;
}
.sidenavs select {
  padding: 0;
  height: auto;
  display: inline-block;
  width: auto;
}

.offcanvas a:focus {
  color: #f1f1f1;
}

#header2 {
  border-bottom: 1px solid rgba(100, 100, 100, 0.35);
  background: rgba(0, 0, 0, 0.21);
  padding: 6px 24px 4px;
  line-height: 24px;
}
#header2 h1 {
  display: inline-block;
  margin: 0px 14px 0 0;
}
#header2 #header2 button {
  vertical-align: top;
}
#header2 .controls {
  float: right;
  height: 24px;
  line-height: 24px;
}

.relative {
  position: relative;
}

.floatTitle {
  z-index: 0;
  position: absolute;
  padding: 10px;
}
.floatTitle .tally::first-letter {
  text-transform: uppercase;
}

#Maincontent {
  margin-left: 0px;
  transition: all 0.5s;
}

.closebtn {
  position: fixed;
  top: 50%;
  left: -40px;
}

.overlaySide:hover .openbtn {
  left: 20px;
}

.overlaySide {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  width: 40px;
  height: 100%;
}
.overlaySide .openbtn {
  position: absolute;
  top: 50%;
  left: -30px;
}

.sideIn.sidenavs {
  width: 350px;
}

.sideIn#Maincontent {
  position: relative;
  margin-left: 350px;
}

.sideIn #scatterzone {
  left: 350px;
}
.sideIn .closebtn {
  top: 50%;
  left: 330px;
  transition: 0.5s;
}
.sideIn .overlaySide {
  left: -80px;
}

.top10DIV {
  overflow-y: auto;
}

.top10_item circle {
  fill: black;
}

.top10_item .detailDecoration {
  fill: #a2a2a2;
  rx: 10;
}

.light .top10_item .detailDecoration {
  fill: white;
}

.top10_item circle.new {
  fill: red;
}

body.light {
  background-color: white;
  color: black;
}

.light #header {
  background: #f3f3f3;
  background: -webkit-linear-gradient(to right, #f3f3f3, #ececec);
  background: linear-gradient(to right, #f3f3f3, #ececec);
}
.light #header .tab a {
  opacity: 0.5;
}
.light #header2 {
  background: rgba(0, 0, 0, 0.21);
}
.light .cover {
  background: #f3f3f3;
  background: -webkit-linear-gradient(to right, #f3f3f3c4, #ececec);
  background: linear-gradient(to right, #f3f3f3c4, #ececec);
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.light ::-webkit-scrollbar-track {
  background: #ddd;
}

.light ::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}

::-webkit-scrollbar-track {
  background: #222;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 12px;
}

/*# sourceMappingURL=main.css.map */
