.linkLine {
    stroke: black;
    stroke-width: 1px;
    fill: none;
    pointer-events: none;
}

.gapLine {
    stroke: #000000;
    stroke-width: 2px;
    fill: none;
    pointer-events: none;
}

.disablePoint {
    color: gray;
    opacity: 0.1;
}

/*.datapoint {*/
    /*color: steelblue;*/
    /*opacity: 1;*/
/*}*/

.axisLabel {
    /*font-weight: bold;*/
    font: 12px sans-serif;
    fill: black;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
body {
    font: 10px sans-serif;

}

#header {
    /*background-color: #ffffff;*/
    background-color: #a71d31;
    background-image: linear-gradient(315deg, #a71d31 0%, #3f0d12 74%);
}
.titletext {
    margin-top: 0;
}
#currentservice {
    /*background-color: #f7f285;*/
    /*color: black;*/
}
#header svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.brand-logo{
    font-family: 'Staatliches', cursive;
    /*background-color: #3f0d12;*/
    /*background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#mainPlot {
    max-width:1000px;
    max-height:1000px;
}
#legend-svg {
    vertical-align: top;
}
#controls {
    padding-top: 10px;
}


   .pin-top {
       position: relative;
   }


   .pin-bottom {
       position: relative;
   }

   .pinned {
       position: fixed !important;
   }
html, body, .block {
    height: 100%;
}
.container {
    color: black;
}
#blue {
    background-color: #fff0e9 !important;
}
#red {
    background-color: #e3ffff !important;
}

.input-field p, .input-field .select-wrapper {
    display: inline-block;
    clear: both;
    float: none;
}

.linkLineg text {
    text-shadow: 1px 1px #fff8ff;
    text-anchor: start;
}
ul {
    font-size: 12px;
}
