.linkLine {
    stroke: black;
    stroke-width: 1px;
    fill: none;
    pointer-events: none;
}

.gapLine {
    stroke: darkred;
    stroke-width: 2px;
    fill: none;
    pointer-events: none;
}

.disablePoint {
    color: gray;
    opacity: 0.1;
}

/*.datapoint {*/
    /*color: steelblue;*/
    /*opacity: 1;*/
/*}*/

.axisLabel {
    /*font-weight: bold;*/
    font: 12px sans-serif;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
body {
    font: 10px sans-serif;
}

#header {
    text-align: center;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#legend-svg {
    vertical-align: top;
}
#controls {
    padding-top: 10px;
}