:root {
    --sideVal: 50%;
    --colorMain2_light: #d8d8d8;
    --colorMain2: #630016;
}

input[type=text].inputHolder, input[type=search]:not(.browser-default){
    height: 1.5rem;
    font-size: unset;
    margin-bottom: 0px;
    color: white;
    border-radius: 2px;
    border: 1px solid #ffffff7a;
}
input[type=text].inputHolder::placeholder, input[type=search]::placeholder {
    color: #61676d;
}
.light input[type=text].inputHolder::placeholder, .light input[type=search]::placeholder {
    color: #61676d;
}

.light input[type=text].inputHolder, .light input[type=search] {
    color: black;
    border: 1px solid #8e8e8e;
}

input[type=text].inputHolder:focus,  input[type=search]:focus{
    background-color: white;
    color: black;
    border: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
/*

 */
.modal { max-width: 400px !important ;}


/* animation */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform:translateY(-5px);
        color: #039be5;
    }
    60% {
        transform:translateY(-2px);
        color: #039be5;
    }
}

.modal.custom .modal-content{
    padding-bottom: 0;
}


.dataTables_wrapper .dataTables_filter input{
    width: calc(100% - 60px);
    margin-left: 0.5em;
    left: auto;
    right: auto;
    padding-left: 10px;
}
.dataTables_filter {
    width: 50%;
}
.dataTables_length{
    padding-top: 2px;
}
.dataTables_filter input{
    height: 2rem;
}
.dataTables_paginate {
    display: flex;
}
.dataTable input {
    color: currentColor;
}
/*input[type=search]:not(.browser-default) {*/
/*font-size: unset;*/
/*border-radius: 10px;*/
/*border: 1px solid #666666;*/
/*}*/
.dataTables_wrapper .dataTables_filter{
    padding: 0;
    padding-bottom: 0.5rem;
}
.dataTable input[type=number]{
    height: 1rem;
    font-size: unset;
    border-radius: 2px;
    border: 1px solid #666666;
    text-align: right;
    margin: unset;
}
.dataTable input:focus{
    border-bottom: unset;
}
.dataTable span {
    padding: unset;
}
.dataTable a {
    line-height: 1rem;
    padding: 2px 0.25rem;
}
.dataTable a.disable-field {
    color: #26a69a;
}
.dataTable .fieldDisable {
    opacity: .4;
    pointer-events: none;
}
.fieldDisable i {
    color: #b7b7b7;
}
.fieldDisable .toggleDisable i {
    pointer-events: all;
}
.fieldDisable :hover .toggleDisable i{
    animation:2s linear bounce;
    animation-iteration-count:infinite
}
.axis.disable {
    display: none;
}

#RadarController svg {
    margin: auto;
}

table.dataTable {
    font-size: 12px;
}
table.dataTable thead {
    background-color: var(--colorMain2_light);
    color: black;
}

.light table.dataTable thead {
    background-color: var(--colorMain2_light);
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgba(var(--colorMain2),0.5);
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    background-color: rgba(var(--colorMain2),0.5);
}

table.dataTable td, table.dataTable th{
    padding: 2px;
    line-height: 1rem;
}
.radarController.radarPlot {
    background-color: white;
    border-radius: 10px;
}

.radarStroke {
    stroke: currentColor;
}
table.dataTable th:not(:first-child) {
    width: 100% !important;
}


/*map*/
#map{
    width: fit-content;
    padding: 20px;
    z-index: 2;
    position: relative;
}

#dot{
    padding-left: 20px;
    padding-top: 25px;
    cursor: pointer;
}


.text-labels {
    font-weight: 900;
}

.geoPath{
    fill:lightgrey;
}
.geoPath.nothover {
    opacity: 0.2;
}

#map #regMap path{
    fill: lightgray;
    stroke: #bbbbbb;
}

#map .tstooltip {
    position: absolute;
}

#map #regMap .selected{
    fill: #2171b5;
}

#controlPanel{
    width:500px;
    height:300px;
    margin:auto;
    display:inline-block;
    cursor:pointer;
}


.unselected{
    fill:lightgrey;
}
.selected{
    border-color:black;
    fill:#2171b5;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    /*padding: 50px;*/
    /*font-size: 20px;*/
}

#currentData:before {
    content:"Dataset: ";
}

#RadarMapcontent .disable{
    display: none;
}