.floating-navigator {
    position: absolute;
    z-index: 1;
    width: 100%;
    pointer-events: none;
}
.floating-navigator-content{
    pointer-events: auto;
}
#dataInfo {
    position: absolute;
    right: 0;
}
tbody td, tbody th {
    line-height: 1rem;
    padding: .1rem .225rem .225rem;
}
#info table {
    width:400px;
}
#info table tr td:first-child{
    width:170px;
}
#info {
    background-color: rgba(193, 193, 193, 0.87);
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 5px 5px 5px;
}

.dropdown.menu li:first-child {
    border-radius: 10px 0 0 10px;
}
.dropdown.menu li:last-child {
    border-radius: 0 10px 10px 0;
}

.section_id::before {
    content: "Section ID: ";
}
.tip_feature_content {
    font-size: small;
    background-color: white;
    margin: 0;
}
.no-background-color {
    background-color: unset;
}
iframe.cell {
    max-height: 73px;
}

.close_tooltip {
    float:right;
    position: unset;
}
#tooltp_header button {
    float:right;
    padding: 0 5px;
}
.print-button {
   /*background-color:  #008cff;*/
   background-color:  black;
   color:  white;
}
.submenu.menu {
    color: var(--color4)
}

#filterDiv{
    top: 100px;
}
li.projects_item{
    margin: 0;
}
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: #8a8a8a solid 0.5px;
}
.closebtn {
    padding-left: 15px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}