.slideGraph {
  psotion: relative,
}

.slide:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.slideGraph {
  left: 0%;
  top: 0%;
  animation-name: appearing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.wrap{
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: auto;
  justify-content: center
}

.butSlider{
  width: 30px;
  border: none;
  background: transparent;
  color: #1800ff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  transition: opacity 300ms ease-out;

  &:hover{
    opacity: 1;
  }
}

.scroller{
  flex: 1;
  overflow: hidden;
}

.items{
  list-style-type: none;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  transition: transform 1s ease-in-out;
}

.item{
  display: inline-block;
  width: 100%;
}
@keyframes appearing {
  from {
    height: 0;
    opacity: 0;
  }to{
       height: auto;
       opacity: 1;
   }
}