/*#messages_table .dataTable th:not(:first-child) {*/
    /*width: unset !important;*/
/*}*/

#messages_table table.dataTable td{
    line-height: 1.5rem;
}

#messages_table label select {
    padding-top: 0;
    padding-bottom: 0;
    height: 1.5rem;
    width:auto;
    display: unset;
}
#lensingbtn:hover {
    background-color: #fc8;
}

.light .tablediv{
    padding: 10px;
    background-color: #dddd;
    margin-bottom: 0px;
    margin-top: 20px;
}
.timeBox {
    fill: #dddd;
}

.notselectable {
    pointer-events: none;
}

.light table.dataTable tbody tr
{
    background-color: rgba(255, 255, 255,1);
}