<div class = "contain">
    <div class="headermenu">
        <h2>You just select</h2>
        <div>
            <select class="typeselect"  ng-model="prop.type"
                    ng-options="type for type in props"
                    ng-change="typeChange()">
            </select>
            <select class="markselect" ng-model="prop.mark"
                    ng-options="type for type in marks"
                    ng-change="markChange()"></select>
        </div>
    </div>
    <div class="thum">
        <div class="scroll-y">
            <vl-plot-group
                    ng-if="prop.previewcharts"
                    class="main-vl-plot-group card"
                    ng-repeat="chart in prop.previewcharts"
                    ng-click="previewSlider($index)"
                    chart="chart"
                    show-bookmark="false"
                    show-debug="false"
                    show-select="false"
                    show-axis-prop="true"
                    show-sort="false"
                    show-transpose="false"
                    enable-pills-preview="true"
                    always-scrollable="false"
                    overflow="false"
                    show-label="false"
                    tooltip="true"
                    toggle-shelf="false"
                    priority="priority * $index"
                    style ={max-height:80px}
            ></vl-plot-group>
        </div>
    </div>
</div>