.pane.guidemenu {
  max-width: 235px;
  background-color: #301d6e;
  .contain {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: calc(100% - 10px);
  }
  .headermenu{
    height: 50px;
    padding: 20px;
  }
  h2 {
    color: white;
  }
  .vl-plot {
    min-width: 80px;
    align-items: center;
  }
  .thum {
    display: flex;
    flex: 1;
    min-height: 0px;
  }
  .scroll-y {
    flex: 1;
  }
  .menuitem {
    max-height: 80px;
  }
}

